h1 {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  margin: 10px;
  margin-bottom: 25px;
}
input {
  width: 95%;
  padding: 8px;
}
.item-container {
  text-align: left;
}
.sh-row {
  margin: 7px 5px;
}
.sh-button {
  min-width: 8cap;
}
